    @keyframes overlay1-animation{
        from{
            left: 0;
        }
        to{
            left: -100%
        }
    }
    @keyframes overlay2-animation{
        from{
            right: 0;
        }
        to{
            right: -100%
        }
    }
    @keyframes motivation {
        0%{
            opacity: 1;
            top: 300px;
            left: 50%;
            transform: rotate(0deg);
        }
        30%{
            opacity: 0;
            top: 950px;
            transform: rotate(90deg);
        }
        100%{
            opacity: 0;
            visibility: hidden;
            top: 100%;
        }
    } 
    @keyframes shoot {
        0%{
            top: -100%;
            left: -100%;
            scale: 1;
        }
        25%{
            top: 100px;
            left: 60%;
            scale: 1;
        }
        50%{
            top: 450px;
            left: 40%;
            scale: 1;
        }
        75%{
            top: 350px;
            left: 50%;
            scale: 1;
            opacity: 1;
            scale: 8;
        }
        100%{
            top: 370px;
            left: 50%;
            scale: 6;
        }
    }
    @keyframes shoot-opacity{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    @keyframes shoot-top {
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(360deg);
        }
    }

     @keyframes shoot-center {
            0%{
          
                left: -100%;
                scale: 1;
                transform: rotate(0);
            }
            25%{
         
                left: 10%;
                scale: 1;
                transform: rotate(90deg);
            }
            50%{

                left: 30%;
                scale: 1;
                transform: rotate(-90deg);
            }
            75%{
                left: 20%;
                scale: 1;
                opacity: 1;
                transform: rotate(0);
            }
          
            100%{
                top: 34%;
                left: 34%;
                transform: translate(-100%, -100%);
                transform: rotate(90deg);
            }
            
        }
       
        @keyframes flash {
            0%{
                opacity: 1;
            }
            1%{
                opacity: 0;
            }
            2%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
       
        @keyframes glitch {
            0%{
                text-shadow: 13px 15px 1px #d1ff03, 0 0 10px #b3ff00d8;
            }
            33%{
                text-shadow: -15px -15px 1px #ff0808, -5px -5px 10px #ef6887d8;
            }
            66%{
                text-shadow: -15px -15px 1px #afff04d8, 0 0 10px #b3ff00d8;
            }
            100%{
                text-shadow: 13px 1cap 1px #ff2525, -5px -5px 10px #ef6887d8;
            }
          }
          @keyframes hideElement {
            to {
                visibility: hidden;
            }
            }
          @keyframes seeElement {
            to {
                visibility: visible;
            }
            }
            @keyframes symbol {
           
                to{
                    transform: translate(0, 0);
                    top: -56px;
                    left: -50px;
                    transform: scale(0.44);
                    z-index: 50;
                    
                }
            }
     @keyframes bec-neon-down {
        from{
            height: 0;
        }
        to{
            height: 200%;
        }
        
     }
     @keyframes bec-neon-up {
        from{
            height: 200%; 
        }
        to{
            height: 0;
        }
        
     }
     @keyframes bec-neon-right {
        from{
            top: 0;
            left: 0px;
        }
        to{
            left: 100%;
        }
    }
    @keyframes bec-bg {
        from{
            width: 0;
        }
        to{
            width: 101%;
        }
    }

    @keyframes menu-neon-down {
        from{
            height: 0;
            top: 5px;

        }
        to{
            height: 50%;
            top: 5px;
        }
        
     }
     @keyframes menu-neon-up {
        from{
            height: 50%; 
            top: 5px;
        }
        to{
            height: 0;
            top: 5px;
        }
        
     }
     @keyframes menu-neon-right {
        from{
            top: 5px;
            left: 130px;
        }
        to{
            left: 240px;
            top: 5px;
        }
    }
    @keyframes menu-overlay {
        from{
            right: -30px;
            width: 130px;
        }
        to{
            right: -100%;
        
        }
    }
  

 @keyframes glitch-anim {
        0% {
            clip: rect(10px, 9999px, 100px, 0);
        }
        20% {
            clip: rect(32px, 9999px, 42px, 0);
        }
        40% {
            clip: rect(7px, 9999px, 322px, 0);
        }
        60% {
            clip: rect(54px, 9999px, 14px, 0);
        }
        80% {
            clip: rect(12px, 9999px, 211px, 0);
        }
        100% {
            clip: rect(4px, 9999px, 18px, 0);
        }
    }
@keyframes logo-way-1 {
    to{
        top: 30%;
        left: 10%;
    }
}
@keyframes logo-way-2 {
    to{
        top: 50%;
        left: 60%;
    }
}
@keyframes logo-way-3 {
    to{
        top: 60%;
        left: 20%;
    }
}
@keyframes logo-way-4 {
    to{
        top: -56px;
        left: -50px;
        z-index: 50;
        transform: scale(0.44);
    }
}
@keyframes link-hover {
        0%{
            text-shadow: 3px 5px 2px #d1ff03, 0 0 10px #b3ff00d8;
        }
        33%{
            text-shadow: -5px -5px 2px #ff0808, -5px -5px 10px #ef6887d8;
        }
        66%{
            text-shadow: -5px -5px 2px #afff04d8, 0 0 10px #b3ff00d8;
        }
        100%{
            text-shadow: 3px 5px 2px #ff2525, -5px -5px 10px #ef6887d8;
        }
}

@keyframes guitar-icon {
    from{
        transform: rotate(0);
       
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from{
       
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes scrollAnable {
    to{
        overflow: auto;
    }
}

