
/* //////////////////////////////////////// ШРИФТИ /////////////////////////////////////////////// */
@import url("fonts.css");



/* //////////////////////////////////////// ОБНУЛЕННЯ /////////////////////////////////////////////// */
@import url("reset.css");

@import url("templates.css");
@import url("animations.css");
html{
  scroll-behavior: smooth;
}
body{
  font-family: Mont;
  background-color: #272A31;
  /* overflow: hidden; */
  animation: scrollAnable 0s forwards;
  animation-delay: 2s;

}
.wrapper{
  font-family: 'Capture It';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	height: 100%;
	overflow: hidden;
  animation: hideElement 0s forwards;
  animation-delay: 3s;
}
.overlay{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.shoot{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 60;
  filter: drop-shadow(2px 2px 4px #ff842c6c);
  animation: shoot 1.2s ease forwards, shoot-opacity 0s ease 1.3s forwards;
}
.shoot > *{
  position: absolute;
  top: 0;
  left: 0;
}
.shoot-center{
  left: 39%;
  animation: shoot-center 1.2s ease forwards;
  scale: 1;
}
.shoot-top{
  top: -4.5px;
  left: -6px;
  animation: shoot-top 6s linear infinite;
}
.shoot-out{
  top: 14px;
  left: 43px;
  width: 70px;
  height: 70px;
  animation: shoot-out 6s linear infinite;
  transform-origin: left center;
}
.shoot img{
  max-width: 100%;
}
.glitch-container{
  position: absolute;
  top: 30%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  z-index: 50;
  text-shadow: 0 0 20px #ffffff;
  animation: motivation 2s ease-in forwards;
  animation-delay: 1.4s;
}
.glitch-container::before, .glitch-container::after {
  content: attr(data-text);
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-container::before {
  position: relative;
  color: #F8D250;
  text-shadow: 0 0 20px #F8D250;
  animation: glitch 0.1s  linear 2 alternate-reverse;
 
}

.glitch-container::after {
  position: relative;
  color: #E01261;  
  text-shadow: 0 0 20px #E01261;
  animation: glitch 0.1s linear 4 alternate-reverse;
}
.overlay1{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; 
  background-color: #0f0f0f;
  z-index: 50;
  /* animation-delay: 5s; */
  animation: overlay1-animation 1.2s ease-in forwards;
  animation-delay: 1.4s;
    
}

.overlay2{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #0f0f0f;
 
  animation: overlay2-animation 1.2s ease-in forwards;
  animation-delay: 1.4s;
}
.flash{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 60;
  animation: flash 2s, hideElement 0s forwards;
  animation-delay: 1.3s, 4s;

}
/*
.line{
  position: absolute;
  height: 5px;
  width: 300px;
  background-color: #FF6701;
  box-shadow: 0 0 10px #FF6701;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.line:first-of-type{
  bottom: -13px;

  width: 600px;
  background-color: #FF842C;
}
.line:nth-of-type(2){
  bottom: -13px;

  width: 500px;
  background-color: #FF7600;
}
.line:nth-of-type(3){
  bottom: -13px;

  width: 400px;
  background-color: #FF5F2E;
} */


.bec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, -50%);
  z-index: -2;
}
.bec::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 101%;
  background-color: #FEDE50;
  animation: bec-bg 0.3s ease 2.8s forwards;
  z-index: 2;
}
.bec::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 5px;
  /* height: 200%; */
  transform: translateY(-25%);
  background-color: #FF842C;
   box-shadow: 0 0 10px #FF842C,
  0 0 20px #FF842C,
  0 0 30px #FF842C,
  0 0 40px #FF842C,
  0 0 70px #FF842C,
  0 0 80px #FF842C,
  0 0 100px #FF842C,
  0 0 150px #FF842C;
  animation: bec-neon-down 0.3s ease forwards, bec-neon-right 0.3s ease forwards, bec-neon-up 0.3s forwards;
  animation-delay: 2.5s, 2.8s, 3.1s;
}
.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%);
  animation: glitch-anim 0.2s 20 linear alternate-reverse, logo-way-1 0s forwards, logo-way-2 0s forwards, logo-way-3 0s forwards, logo-way-4 0s forwards, hideElement 0s forwards;
  animation-delay: 1.8s, 2.1s, 2.3s, 2.5s, 2.7s, 3.0s; 
  
  z-index: 0;
  
  /* symbol 1.5s ease forwards, hideElement 0s forwards, */
}

.menu__logo--bec{
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  transform: translate(140%, -50%);
  
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  color: #666666;
  background-color: #0B0B0D;
  z-index: 2;
}
.header-container{
  background-color: #675e58;
  max-width: 1200px;
  margin: 0 auto;
  
}
.header__menu {
}
.menu {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  padding: 10px 16px;  
}
.menu__logo {
  visibility: hidden;
  animation: seeElement 0s forwards;
  animation-delay: 3s;
}
.menu__logo::after{
  position: absolute;
  content: "";
  top: 5px;
  left: 140px;
  width: 3px;
  height: 0;
  transform: translateY(43%);
  background-color: #FF842C;
   box-shadow: 0 0 10px #FF842C,
  0 0 20px #FF842C,
  0 0 30px #FF842C,
  0 0 40px #FF842C,
  0 0 70px #FF842C,
  0 0 80px #FF842C,
  0 0 100px #FF842C,
  0 0 150px #FF842C;
  transition: animation 0.5s;
}
.menu__logo:hover::after{
  animation: menu-neon-down 0.3s ease forwards, menu-neon-right 0.3s ease forwards, menu-neon-up 0.3s forwards; 
  animation-delay: 0s, 0.3s, 0.6s;
}
.menu__logo{
  width: 230px;
  position: relative;
}
.menu__logo img{
  max-width: 100%;
}
.menu__logo--symbol{
  width: 100px;
  filter: drop-shadow(2px 2px 20px #ff842c90);
}
.menu__logo--bec{
  width: 100px;
}
.menu__overlay{
  position: absolute;
  top: 0;
  right: -30px;
  width: 130px;
  height: 100%;
  background-color: #0B0B0D;
  }
.menu__logo:hover::after{
  animation: menu-neon-down 0.3s ease forwards, menu-neon-right 0.3s ease forwards, menu-neon-up 0.3s forwards; 
  animation-delay: 0s, 0.3s, 0.6s;
}
.menu__logo:hover > .menu__overlay{
  animation: menu-overlay 0.55s ease forwards;
  animation-delay: 0.3s;
}

.menu__list {
  display: flex;
  column-gap: 20px;
  font-size: 30px;
  align-items: center;
}
.menu__link{
  transition: text-shadow 0.8s ;
  position: relative;
}

.menu__item:hover .menu__link{
  color: #FF842C;
  text-shadow: 0 0 6px #F2B654, 0 0 20px #F2B654;
  animation: link-hover 0.1s 2;
}



.section-1 {
  padding: 0px 165px;
}
.section-1__container {
  position: relative;
 
  margin: 0 auto;
  margin-top: 160px;
  background-color: #FEDE50;
  z-index: 50;
  padding: 20px;
  box-shadow: 0 0 10px #FF842C, inset 0 0 20px #FF842C, 10px 10px 70px #000;
  border: 2px solid #FF842C;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.section-1__sub-title{
  text-shadow: 0 0 70px;
  margin-bottom: 20px;
}
.section-1__text{
  max-width: 400px;
}
.gear{
  top: 140px; right: 130px;
  position: absolute;
  width: 70px;
  z-index: 1;
  
}
.gear img{
  max-width: 100%;
  filter: drop-shadow(1px 2px 0px #ff842c);
  transition: filter 1s ease;
}


.gear img {
  cursor: pointer;
}
.gear img:hover {
  animation-play-state: running;
  filter: drop-shadow(2px 2px 0px #ff2c2c);
  
}

.gear > :nth-child(1){
  --d: 7s; /* animation duration */
  --s: 0.5; /* speed factor */        
  --_a: r linear infinite;

  animation: 
    var(--_a) var(--d),
    var(--_a) calc(var(--d)/var(--s)) reverse paused;
  animation-composition: add;
  position: absolute;
  top: -9px;
  left: -50px;
}
.gear > :nth-child(2){
  --d: 7s; /* animation duration */
  --s: 0.5; /* speed factor */        
  --_a: r linear infinite reverse;

  animation: 
    var(--_a) var(--d),
    var(--_a) calc(var(--d)/var(--s)) paused;
  animation-composition: add;
  position: absolute;
  top: -20px;
  left: 16px;
  
}

.gear > :nth-child(3){
  --d: 7s; /* animation duration */
  --s: 0.5; /* speed factor */        
  --_a: r linear infinite;

  animation: 
    var(--_a) var(--d),
    var(--_a) calc(var(--d)/var(--s)) reverse paused;
  animation-composition: add;
  position: absolute;
  top: 45px;
  left: 0px;
}
.gear > .sparkle:first-of-type{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: 0 0 2px #ff842c, 0 0 5px #ff842c, 0 0 8px #ff842c;
  background-color: #ff842c;
  animation: sparkle 1s ease 10 forwards;
}
.gear > .sparkle:nth-of-type(2){
  position: absolute;
  top: 40px;
  left: 40px;
  width: 1px;
  height: 1px;
  background-color: #ff842c;
}
@keyframes r {
  to {rotate: 1turn}
}

@supports not (animation-composition: add) {
  .gear img{
    animation-name: r,r1;
  }
  @keyframes r1 {to{transform: rotate(1turn)}}
}



.icon{
  width: 30px;
}
.icon img{
  max-width: 100%;
}
.gitar{
  position: absolute;
  top: 39px;
  left: 100px;
  animation: guitar-icon 30s infinite linear ;
  transform-origin: 200px 200px;
}
.gitar img{
  position: absolute;
  animation: rotate 10s infinite linear ;
}
.gitar2{
  position: absolute;
  top: 290px;
  left: 100px;
  animation: guitar-icon 30s infinite linear reverse;
  transform-origin: 200px 200px;
}
.gitar2 img{
  position: absolute;
  animation: rotate 10s infinite linear ;
}
.ruler{
  width: 150px;
  position: absolute;
  top: 100px;
  left: 90%;
  animation: guitar-icon 30s infinite linear reverse;
  transform-origin: 200px 200px;
  animation-delay: 3s;
}
.ruler img{
  position: absolute;
  animation: rotate 10s infinite linear ;
}
.pletz{
  width: 150px;
  position: absolute;
  top: 10px;
  left: 20%;
  animation: guitar-icon 30s infinite linear reverse;
  transform-origin: 100px 200px;
  animation-delay: 5s;
}
.pletz img{
  position: absolute;
  animation: rotate 10s infinite linear ;
}

.section-2 {
  
  padding: 20px;
}
.section-2__container {
  min-height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background: #0B0B0D url("../img/I.jpg") fixed no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 10px #FF842C, inset 0 0 20px #FF842C;
  border: 2px solid #FF842C;
display: flex;
justify-content: space-between;
/* box-shadow: 0 0 20px #3A3A69; */
}
.section-2__container img{
  display: block;
  text-align: right;
}

.section-3 {
  margin-top: 50px;
  padding: 50px;
}
.section-3__container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-3__image {
  max-width: 300px;
  margin: 0 auto;
}
.section-3__image img{
  max-width: 100%;
}